html {
	font-family: courier;
}

body {
	background-color: #FFFFCC;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1080px) {
	body {
		width: 95%;
	}
}

h1 {
	background-color: #FFCC99;
	text-align: center;
	padding-top: 10px;
}
